body {
  margin:0;
background-image:url(http://boat-sites.com/wp-content/uploads/2014/04/bg-3-full.jpg);
background-repeat:repeat-y;
background-attachment:fixed;
background-size:100% auto;
color:white;
font-family: "Roboto", "Arial";
font-size: 13px;
padding-bottom:60px;
padding-top:100px;
}

footer {
   position:fixed;
   width:100%;
   height:60px;
   text-align:center;
   bottom:-45px;
   font-size:10px;
}

/* NEW NAVBAR STYLING */

.navbar {
  background-color: #2E2E2E;
  margin:0;
  padding:0 15px 0px 15px;
  position: fixed;
  top: 0;
  width: 100%;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float:right;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 30px 15px 30px;
  background-color: inherit;
  margin:0 18px 0 0;
  font-weight: bold;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: red;
  border: .1px solid #eee;
}

.dropdown-content {
  right:0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/*background-image: url("http://www.designbolts.com/wp-content/uploads/2013/02/Pineapple-cut-Grey-Seamless-Pattern-For-Website-Background.jpg");*/


.right {
  float:right;
  width:10%;
  border:none;
  padding:5px 5px 2.5px 5px;
  text-align:center;
  text-decoration:none;
  font-size:16px;
  font-style:oblique;
  border-radius:5px;
  margin:0;
  font-weight:bold;
  color:black;
  margin-right: 20px;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}


.row:after {
    clear: both;
    content: " ";
    display: table;
}

.col {
background-color:#333;
height: 350px;
width: 226px;
float:left;
width:31%;
margin:.6%;
border-radius:5px;
padding:15px 10px 15px .6%;
}

/* OUTDATED DIV CONTAINER */
.center {
  padding-top:30px;
  background-color: rgba(46,46,46,.95);
  height:700px;
  width:33%;
  border: 3px;
  margin-left: 33%;
  margin-top: 5%;
  border-radius: 30px;
}

/* DISCONTINUED

.login_board_1 {
    background-color: #333;
    height:300px;
    width:15%;
    border: 3px;
    margin-left: 85%;
    margin-top: -40%;
    border-radius: 30px;
    position:relative;
}

.login_board_2 {
    background-color: #333;
    top:47px;
    right:135.594px;
    max-width:1170.41px;
    display:block;
}

.login_board_2_text {
  position: absolute;
}
*/

.header_style {
  padding:10px 20px;
  text-align: center;
}
.main_style {
  padding:5px 20px;
  font-size:15px;
  font-family:arial;
}
.wrapper_issues{
  position:relative;
  padding-top:200px;
}

h1 {
  font-size:20px;
  font-weight:bold;
  margin:5px 0 5px 0;
  padding-top:8px;
}

/* REGISTRATION STYLING */

.registration_container{
  padding-top: 50px;
  padding-right: 10px;
  width:550px;
  min-height:530px;
  border-radius: 10px;
  background-color: rgba(46,46,46,.95);
  margin:0 auto;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  margin-top: 90px;
  clear:both;
}
.login_container{
  padding-top: 50px;
  padding-right: 10px;
  width:500px;
  min-height:350px;
  border-radius: 10px;
  background-color: rgba(46,46,46,.95);
  margin:0 auto;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  margin-top: 90px;
}

/* NOTE TO SELF- CHILDREN WILL INHERIT OPACITY */

.transparent_style_black{
  background-color: #2E2E2E;
  opacity:.8;
}

ul a:hover{
background-color: #2E2E2E;
}
form{
  margin: 0 auto;
}
input[type="submit"]{
background-color: #2E2E2E;
font-size: 17px;
padding: 11px 0;
cursor: pointer;
color: #eee;
font-weight: bold;
margin-left: 180px;
}

input[type="submit"]:hover{
background: rgb(53,106,160);
border: 1px solid #eee;
color:#eee;
}
input[name="first_name"],input[name="last_name"]{
  width: 150px;
}
input[name="username"]{
  width: 180px;
}
input[name="password"],input[name="cpassword"]{
  width: 190px;
}

legend{
  font-size: 20px;
  width: 120px;
  text-align: center;
}

form p{
  clear: both;
  margin: 10px 0;
}

form p label{
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    text-align: right;
    padding:10px;
    margin-right: 10px;
    font-size: 16px;
}
form p input{
   display: inline-block;
   float: left;
   padding:10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.8);
  background: rgba(255,255,255,0.8);
  width: 250px;
}
form p span{
  color: red;
  padding-left: 30px;
  padding-top: 14px;
  display: inline-block;
}

/* MEDIUM INSERTS */

.col.got {
background-image: url("https://revengeofthefans.com/wp-content/uploads/2018/11/got.jpg");
background-repeat: no-repeat !important;
background-position: center 50% !important;
background-size: cover;
height: 350px;
width: 226px;
float:left;
width:31%;
margin:.6%;
border-radius:5px;
padding:15px 10px 15px .6%;
}
.col.rome {
background-image: url("https://www.hbo.com/content/dam/hbodata/series/rome/episodes/1/rome-1-3000x1688.jpg");
background-repeat: no-repeat !important;
background-position: center 50% !important;
background-size: cover;
height: 350px;
width: 226px;
float:left;
width:31%;
margin:.6%;
border-radius:5px;
padding:15px 10px 15px .6%;
}
.col.black-mirror {
background-image: url("https://www.endemolshinegroup.com/wp-content/uploads/2018/05/Black-mirror-for-web.png");
background-repeat: no-repeat !important;
background-position: center 50% !important;
background-size: cover;
height: 350px;
width: 226px;
float:left;
width:31%;
margin:.6%;
border-radius:5px;
padding:15px 10px 15px .6%;
}
.col.spartacus {
background-image: url("http://assets.starz.com/imgix/OriginalsPicker/SPSX_originalpicker.jpg");
background-repeat: no-repeat !important;
background-position: center 50% !important;
background-size: cover;
height: 350px;
width: 226px;
float:left;
width:31%;
margin:.6%;
border-radius:5px;
padding:15px 10px 15px .6%;
}
.col.pulp-fiction {
background-image: url("https://m.media-amazon.com/images/M/MV5BNGNhMDIzZTUtNTBlZi00MTRlLWFjM2ItYzViMjE3YzI5MjljXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg");
background-repeat: no-repeat !important;
background-position: center 50% !important;
background-size: cover;
height: 350px;
width: 226px;
float:left;
width:31%;
margin:.6%;
border-radius:5px;
padding:15px 10px 15px .6%;
}
.col.castlevania {
background-image: url("https://cdn1us.denofgeek.com/sites/denofgeekus/files/styles/main_wide/public/2017/07/netflix-castlevania.jpg?itok=CIbi5S9z");
background-repeat: no-repeat !important;
background-position: center 50% !important;
background-size: cover;
height: 350px;
width: 226px;
float:left;
width:31%;
margin:.6%;
border-radius:5px;
padding:15px 10px 15px .6%;
}
.col.magicians {
background-image: url("https://otakukart.com/wp-content/uploads/2018/09/The-Magicians-poster.jpg");
background-repeat: no-repeat !important;
background-position: center 50% !important;
background-size: cover;
height: 350px;
width: 226px;
float:left;
width:31%;
margin:.6%;
border-radius:5px;
padding:15px 10px 15px .6%;
}
