{padding: 0;margin: 0;}
body{
  background: #777;
  font-family: Arial;
}
h1{
  font-size: 54px;
}
h2{
  font-size: 18px;
  font-weight: 500;
}
header{

background: rgb(37,141,200);

  color:#fff;
  padding: 23px;

  }
div#content{
background: rgb(255,255,255);

height:100%;
min-height: 420px;
padding:30px 50px;


}
nav{
 margin-top: 20px;
}
ul{
  list-style: none;
}
ul li{
  margin: 0 5px;
  display: inline-block;
}

legend{
  font-size: 20px;
  width: 120px;
  text-align: center;
}

form > p{
  clear: both;
  margin: 10px 0;
}
form p label{
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    text-align: right;
    padding:10px;
    margin-right: 10px;
}
form p input{
   display: inline-block;
   float: left;
   padding:10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.5);
  background: rgba(255,255,255,0.5);
  width: 250px;


}
form p span{
  color: red;
  padding-left: 15px;
  padding-top: 14px;

  display: inline-block;
}
footer{
  text-align: center;
  padding: 30px 0;
  color: #ddd;

background: rgba(0,0,0,0.5);
}

/* very little point to extending this right now as i will remodel it anyway.
